body {
  background: #1e1e2f;
   
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.card {
  border-radius: 15px;
}

.input-group input {
  border-radius: 0.375rem 0 0 0.375rem;
}

.input-group .btn {
  border-radius: 0 0.375rem 0.375rem 0;
}

.name{

   font-style: normal;
  font-size: 26px;
  font-weight: 400px;
  line-height: 27px;
}
