on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        
      - name: 'login to Docker hub'
        run: docker login --username ${{secrets.USER_NAME }} --password ${{secrets.TOKEN_WEATHER2 }}


      - name: "Bulding docker image"
        run: docker build -t ${{secrets.USER_NAME }}/weather .

      - name: "Pushing to Docker hub"
        run: docker push ${{secrets.USER_NAME }}/weather     